/* Super Awesome CSS */

body {
    background-color: #111111;
}

h1 {
    font-size: 50px;
    color: #ffffff;
    text-align: center;
}

h2 {
    color: #ffffff;
    text-align: center;
}

p {
    color: #ffffff;
    text-align: center;
}

.underScores {
    font-size: 100px;
    margin: 0 auto;
    text-align: center;
}
.rightGuess {
    font-size: 30px;
    margin: 0 auto;
    text-align: center;
}
.wrongGuess {
    font-size: 30px;
    margin: 0 auto;
    text-align: center;
}